@import url(bootstrap.min.css);
@import url(all.min.css);
@import url('https://fonts.googleapis.com/css?family=Merriweather&display=swap');

*, *::before, *::after{
    box-sizing: border-box;
}
body{
    font-family: 'Merriweather', serif;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* For mobile devices */
@media only screen and (max-width: 767px) {
    body {
        background-image: url(../img/bg.jpg);
    }
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    color: #fff;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

p{
    color: #fff;
    font-size: 1rem;
    line-height: 1.9;
    margin: 0;
    text-align: justify;
}

section{
    padding-bottom: 80px;
}


/*Style for About Us page*/

/*Style for Navbar*/
header .bg-light{
    background-color: transparent !important;
    margin-top: 5px;
}
header .navbar-light .navbar-nav .nav-item{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

header .navbar-light .navbar-nav .nav-link, header .navbar-light .navbar-nav .active > .nav-link, header .navbar-light .navbar-nav .nav-link:hover{
    color: rgba(0, 0, 0, 0.8);
    font-size: 0.9rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
}

header .navbar-light .navbar-nav .nav-item{
    margin-right: 0.7rem;
}

header .navbar-brand{
    font-weight: bold;
    text-transform: uppercase;
}

/*Style for Banner*/
.banner{
    margin-top: 80px;
    margin-bottom: 70px;
}
.banner h3{
    font-size: 2.5rem;
    color: #000;
    font-weight: 900;
    text-transform: capitalize;
    padding: 1.5rem;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    width: 23rem;
    margin: auto;
}

/*Style for About Area*/

.about-area .about-text{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
}

.about-area .section-title h3 {
    font-size: 1.15rem;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
    text-transform: capitalize;
}

.about-area .section-title{
    margin-bottom: 40px;
    text-align: left;
    padding-left: 15px;
}

.about-area .section-title h2 {
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    margin-top: 10px;
}

.about-area .text-area p{
    margin-bottom: 20px;
    color: #000;
    font-weight: 500;
    font-size: 1.2rem;
}

/*Style for Footer*/

footer{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2);
    padding-top: 20px;
    padding-bottom: 20px;
}

footer p{
    color: #000;
    font-size: 0.8rem;
}

/*Style for Practice Areas page*/

/*Style for Card-deck*/
.practice-text{
    margin-bottom: 30px;
}
.practice-text h5 a {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    text-decoration: none;
    line-height: 2.5rem;
}

.practice-box{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0,.1);
}

.practice-box:hover{
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 10px 10px 0 rgba(255, 255, 255, 0.2);
}

.practice-box:hover h5 a{
    color: rgba(255, 255, 255, 0.8);
}


/*Style for Lawyer Profile page*/
.profile-area .profile-text{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0,.1);
    border-radius: 5px;
    padding: 20px;
}

.profile-area .profile-title h3 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
}

.profile-area .profile-title h2 {
    font-size: 24px;
    margin: 16px 0 25px;
    text-transform: capitalize;
    color: #000;
}

.profile-area .text-area p {
    color: #000 ;
    margin-bottom: 20px;

}

.profile-area .row {
    margin-bottom: 30px;
}


.profile-area .profile_pic img{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0,.1);
    border-radius: 5px;
    padding: 20px;
}
.profile-area .maliha{
    padding-bottom: 80px;
}

/*Style for Contact page*/

.contact-area .contact-text .contact-icon{
    width: 7rem;
    height: 7rem;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}
.contact-area .contact-text .contact-icon i{
    color: #fffdfd;
    position: relative;
    top: 1.6rem;
    left: 1.6rem;
}
.contact-area .contact-text .contact-icon .fa-map-marker{
    left: 2rem;
}

.contact-area .card{
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 0 rgba(0,0,0,.1);
}

.contact-area .card .card-title{
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    font-weight: 600;
}

.contact-area .card .card-text a{
    color: rgba(0, 0, 0, 0.8);
    font-size: 1.1rem;
    font-weight: 600;
    text-decoration: none;
}

.contact-area .contact-text .card:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
.contact-area .contact-text .card:hover .contact-icon {
    background-color: #fffdfd;
}

.contact-area .contact-text .card:hover p i {
    color: rgba(0, 0, 0, 0.8);
}

.contact-area .contact-text .card-title a{
    color: rgba(0, 0, 0, 0.8);
    font-size: 2rem;
    font-weight: 600;
    text-decoration: none;
}

.contact-area .card:hover .card-title{
    color: #fffdfd;
}

.contact-area .contact-text .card:hover a{
    color: #fffdfd;
}

/*Responsive breakpoints*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 349.98px) {
    .banner h3 {
        font-size: 1.3rem;
        padding: 0.8rem;
        width: 15rem;
    }

}
@media (min-width: 350px) and  (max-width: 499.98px) {
    .about-area .section-title h2 {
        font-size: 1.3rem;
    }
    .about-area .text-area p{
        font-size: 1rem;
    }
    .contact-area .contact-text .contact-icon {
        width: 5rem;
        height: 5rem;
    }
    .contact-area .contact-text .contact-icon .fa-4x{
        font-size: 2.5em;
    }
    .contact-area .contact-text .contact-icon i {
        top: 1.3rem;
        left: 1.4rem;
    }
    .banner h3 {
        font-size: 2rem;
        padding: 1rem;
        width: 18rem;
    }

    .profile-area .profile_pic img{
        margin-left: 0 !important;
        display: inline-block;
        margin-top: 1rem;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (min-width: 500px) and (max-width: 575.98px) {
    .about-area .section-title h2 {
        font-size: 1.5rem;
    }

    .about-area .text-area p{
        font-size: 1rem;
    }
    .profile-area .profile_pic img{
        margin-left: 0 !important;
        display: inline-block;
        margin-top: 1rem;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    .about-area .section-title h2 {
        font-size: 1.7rem;
    }

    .about-area .text-area p {
        font-size: 1.1rem;
    }

    .practice-text h5 a {
        font-size: 0.9rem;
    }

    .profile-area .profile_pic img {
        margin-left: 0 !important;
        display: inline-block;
        margin-top: 1rem;
    }
}


/*Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) and (max-width: 991.98px) {
        .profile-area .profile_pic img {
            display: inline-block;
            margin-top: 1rem;
    }

}













